<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
</head>
<body>
    <h1><%=name%></h1>
    <p><%=email%></p>
    <!-- <td><form action='/users/resume' method='post'>
      <input type="hidden" name="userEmail" value="<%=email%>">
      <input type="hidden" name="cEmail" value="companydata.email%">
      <button id="sendEmailBtn">Send Email</button></td> -->
      <button ><a href="/resume">Resume</a></button>
</form>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">phno</th>
      </tr>
    </thead>
    <tbody>
        <% clist.forEach(companydata => { %>
            <tr>
                <th scope="row"><%= companydata._id%></th>
                <td><%= companydata.cname%></td>
                <td><%= companydata.adate%></td>
                <td><%= companydata.edate%></td>
                <td><%= companydata.position%></td>
                <td><%= companydata.sdate%></td>
                <td><form action='/users/send-email' method='post'>
                    <input type="hidden" name="userEmail" value="<%=email%>">
                    <input type="hidden" name="cEmail" value="companydata.email%">
                    <button id="sendEmailBtn">Send Email</button></td>
            </tr>
        <% }) %>
      
      
    </tbody>
  </table>

   
</body>
</html>
